/* Custom CSS
-------------------------
*/
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Courgette|Playball);
@import url(https://fonts.googleapis.com/css?family=Courgette|Playball|Signika);
@import url(https://fonts.googleapis.com/css?family=Courgette|Playball|Signika|PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Courgette|Playball|Signika|PT+Sans+Narrow|Oleo+Script);

body {
    padding-top: 0px;
}

.container-fluid {
    padding-right: 60px;
    padding-left: 60px;
}

div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: inline;
    float: left;
    height: 50px;
    margin: 10px;
    padding: 0;
    width: 20%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

.navbar { margin-bottom: 0px; }


 body.pagelayout-frontpage .navbar { 
    position: absolute;
    width: 100%; 
    z-index: 4030;
}

body.pagelayout-frontpage .navbar:hover {
	background-color: #fefefe;
	}

body.pagelayout-frontpage .navbar .nav.pull-right{
	float:left;
	}


body.pagelayout-frontpage .navbar .nav{
	margin: 10px;
    float: none;
    margin-left: 70px;
	}
	
body.pagelayout-frontpage .navbar .brand {
	margin-top:10px;
	}
	
.dir-ltr .usermenu{
	margin-top:20px;
	}	

	
.navbar .nav {
    margin: 20px;
    float:none;
}

.navbar .brand,.navbar .nav>li,.navbar .nav>li>a {
    font-size:18px;
    text-decoration: none;
    text-shadow: none;
    color: #46a8bf;
}

.navbar .nav>li>a {
    float: none;
}


.navbar-inner .span3 .usermenu {
    background-color: #fff !important;
}

.navbar-inner{
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
}

.pagelayout-login #loginbtn {
    background-color: #46a8bf;
	border:1px solid #64B7CA;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: sans-serif;
	background-image: linear-gradient(to bottom,#46a8bf, #46a8bf);
}

.notloggedin #signbuttom{
	margin-top: 20px;;
	display: inline;
    float: right;
    background-color: #46a8bf;
    border: 1px solid #64B7CA;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom,#46a8bf, #46a8bf);
	}

.pagelayout-login #loginbtn{
	color:#ffffff;	
	}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu{
    color:#46a8bf;
    font-size: 16px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-top: 8px;
    margin-left: 2px;
    border-top-color:#46a8bf;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars img {
    border-radius: 18px;
}

.caret {
    border-top: 6px solid #46A8BF;
}

.jsenabled .usermenu .moodle-actionmenu.show{
     background-color: transparent;
}

.jsenabled .usermenu .moodle-actionmenu.show .menu{
    -webkit-box-shadow: none;
   box-shadow:none; 
}

.moodle-actionmenu[data-enhanced].show .menu {
   background-color: transparent;
   -webkit-box-shadow: none;
   box-shadow:none;
}

.moodle-actionmenu[data-enhanced].show .menu a {
	color: #46A8BF;	
	}

.jsenabled .usermenu .moodle-actionmenu>.menu .filler, .jsenabled .usermenu .moodle-actionmenu>.menu .filler {
    background-color: #345F58l;
    border-bottom: none;
    
}


.jsenabled .usermenu .moodle-actionmenu>.menu .filler
#backgroundimg {width:100%;}



body.pagelayout-frontpage #page-header { 
  background-image: url([[setting:headerimg]]);
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #ccc;
  background-size: 100%;
  min-height: 700px;
  padding-top: 60px;
}


body.pagelayout-frontpage #page-header .container-fluid{
	margin-top: 12%;
    text-align: center;
	}
	
body.pagelayout-frontpage #page-header h1{
	font-size: 58px;
    font-family: cursive;
    padding: 30px;
    color: #fefefe;
	}

body.pagelayout-frontpage #page-header p{
	font-size: 26px;
    color: #fefefe;
    padding: 10px;
    font-family: Courgette;
    width: 80%;
    margin: auto;
    line-height: normal;
	}

#Infoblock {
    background-color: #444444;
}

#Infoblock .span9 h2{
    padding:20px;
    font-size: 48px;
    color: #fefefe;
    font-family: sans-serif;
}


#Infoblock .span9 .infocontent{
    margin-bottom: 20px;
    padding:10px;
    color: #fefefe;
    font-size: 20px;
    font-family: serif;

}

 .pagelayout-frontpage .marketingbox {
 background-image: url([[setting:backgroundimg]]);
 background-position: left top;
 background-repeat:repeat;
 height: auto;
 padding-bottom : 40px;
}



.marketingbox .marketing-bg-content{
    padding: 30px;
    text-align: center;
} 


.marketingbox .marketing-bg-content h1{
    font-size: 40px;
    color: #8fcbb6;
    font-weight: 500;
    font-family: sans-serif;
    margin: 10px;
}

.marketingbox .marketing-bg-content p {
    margin: 30px;
    color: #dff8ef;
    font-size: 30px;
    font-family: playball;
    font-weight: initial;
        
}

 .marketingbox .marketing-innerbox .span3 {
    background-color: #4e927a; 
    box-shadow: 0 0 5px #97beb0;
    padding: 4em 2em;
    text-align: center;
    
}

 .marketingbox .marketing-innerbox .span3 h1{
    font-family: sans-serif;
    color: #e2f7f0;
    font-weight: 100;
    padding: 10px;
}

 .marketingbox .marketing-innerbox .span3 p {
    color: #e2f7ef;
    font-family: serif;
    font-size: 16px;
    line-height: normal;
}

 .marketingbox .marketing-innerbox .span3 button {
    padding: 14px 43px;
    background-color: #4E927A;
    background-image: linear-gradient(to bottom, #4E927A, #4E927A);
    border: 1px solid #97beb0;
    border-radius: 50px;
    font-size: 28px;
    text-shadow: none;
    color: #d2f5fd;
    font-weight: 100;
    font-family: sans-serif;
    margin-top: 30px;
}

#page-wrapper{
    background-color: #e8e8e8;
}

#page-content {
    margin-top: 30px;
}

.block{
    background-color: #EEEEEE;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px;
    border: 1px solid #529eaf;
}

.block .header h2 {
    display: block;
    font-weight: 100;
    padding: 10px 15px;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    text-shadow: none; 
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    background-color: #378fa4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.block .content { padding: 16px 14px;}

#Infoblock .span3 .btn-info {
	margin:90px;
	 background-color: #46a8bf;
	border:1px solid #64B7CA;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: sans-serif;
	background-image: linear-gradient(to bottom,#46a8bf, #46a8bf);	
	}


/* Footer Start */
.footer-main { background-color: #3D3D3D; color: #fff; padding: 26px 0; font-size: 12px; }
.footer-nav h1, .contact-info h1,.footer-desc h1{ color:#DAD9D9; padding: 10px; }
#footer .footer-desc p, #footer .contact-info p { font-size: 14px; color: #dcdcdc; padding: 10px;}
#footer .footer-nav ul { margin: 0px; }
#footer .footer-nav ul li { font-size: 14px; list-style: none; padding-left: 10px; }
.footerlinks a { margin-right: 10px; }
#footer a { color: #dcdcdc; }
#footer a:hover { text-decoration: none; color: #c52c2e; }
#footer .row-fluid [class*="span"] { min-height: auto; }
#footer .footer-foot p { margin: 0; font-size: 16px; color: #dcdcdc;;}
.fa {font-size: 24px; padding-right: 10px; margin-top: 8px; }
.footer-foot { background-color:#2b2b2b; padding: 10px; text-align: center;
}
#page-footer { border: none; padding: 0; margin: 0; }
#page-footer .validators, #page-footer .purgecaches, #page-footer .performanceinfo { margin-bottom: 65px; }
#page-footer .purgecaches { margin-bottom: 0px; }

/* End */

pagelayout-login

/*Login Start */
input[type="radio"]+label, input[type="checkbox"]+label ,.loginpanel .forgetpass a { color:#46a8bf; }

.pagelayout-login #loginbtn ,.notloggedin #signbuttom  a {
    color:#ffffff;
    text-decoration: none;
	text-shadow:none;
}

.notloggedin #signbuttom  a:hover {
    color:#BFEAF4;
}

	
#page-login-index { 
    background-image: url([[pix:theme|login-background]]) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
   .loginbox .loginform .form-label { float: left; text-align: right; width: 32%; white-space: nowrap; }
   .loginbox .loginform .form-label label { font-size: 18px; color: #fff; }
   .loginbox .loginform .form-input { float: left; }
   .pagelayout-login .loginbox .loginform .form-input input, .loginbox .loginform .form-input input {  width:14em; margin-left: 10px; background-color: transparent;
    border-radius: 16px; .loginbox , text-align:center; }
	.pagelayout-login  input[type="text"] ,input[type="password"] { color:#fefefe; text-align:center;}
   .loginbox .loginform { text-align: left; }
   .clearer{ height: 20px; }
   .loginbox .loginpanel .desc, .loginbox .guestsub { display: none;}
    #loginbtn { background-image: linear-gradient(to bottom, #fff, #fff); background-color: #fff; }
   #loginbtn { font-size: 16px; border-radius: 8px; padding: 8px 17px 8px; }
   

#footer-page { 
	border: none;
    bottom: 0px;
    width: 100%;
    padding: 0px;
}
	
#page-login-index #page-content {
	  margin: 13% auto;
	  padding-top: 10px;
	}
	
#page .loginbox {
	 width:30%;
	 margin: auto;
	 padding:20px;
      }

	
.pagelayout-login  #footer-page .footer-foot p{
	    color: #fff;
		margin: 7px;
	}
	

	
.loginbox h2 {
	color: #fefefe;
    margin: 5px;
    text-align: center;
    background-color: #56861f;
    border: 1px solid #73974A;
    border-radius: 40px;
    padding: 2px;
    font-weight: 500;
}


/*Login End */

/*
 Custom CSS Settings
*/

[[setting:customcss]]
