/* Custom CSS
-------------------------
*/
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Courgette|Playball);
@import url(https://fonts.googleapis.com/css?family=Courgette|Playball|Signika);
@import url(https://fonts.googleapis.com/css?family=Courgette|Playball|Signika|PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Courgette|Playball|Signika|PT+Sans+Narrow|Oleo+Script);

body {
    padding-top: 0px;
}

.container-fluid {
    padding-right: 60px;
    padding-left: 60px;
}

div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: inline;
    float: left;
    height: 75px;
    margin: 16px;
    padding: 0;
    width: 20%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

.navbar { margin-bottom: 0px; }


.navbar { 
    position: absolute;
    width: 100%; 
    z-index: 4030;
}

.navbar .nav {
    margin-top: 30px;
    float:none;
}

.navbar .brand,.navbar .nav>li,.navbar .nav>li>a {
    font-size:18px;
    text-decoration: none;
    text-shadow: none;
    color: #46a8bf;
}

.navbar .nav>li>a {
    float: none;
}


.navbar-inner .span3 .usermenu {
    background-color: #fff !important;
}

.navbar-inner{
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
}

.notloggedin #signbuttom {
    float: right;
    float: right;
    background-color: #46a8bf;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: sans-serif;
}

.notloggedin #signbuttom  a {
    color:#ffffff;
    text-decoration: none;
}

.notloggedin #signbuttom  a:hover {
    color:#BFEAF4;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu{
    color:#46a8bf;
    font-size: 16px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-top: 8px;
    margin-left: 2px;
    border-top-color:#46a8bf;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars img {
    border-radius: 18px;
}

.caret {
    border-top: 6px solid #46A8BF;
}

.jsenabled .usermenu .moodle-actionmenu.show{
     background-color: transparent;
}

.jsenabled .usermenu .moodle-actionmenu.show .menu{
    -webkit-box-shadow: none;
   box-shadow:none; 
}

.moodle-actionmenu[data-enhanced].show .menu {
   background-color: transparent;
   -webkit-box-shadow: none;
   box-shadow:none;
}

.jsenabled .usermenu .moodle-actionmenu>.menu .filler, .jsenabled .usermenu .moodle-actionmenu>.menu .filler {
    background-color: #345F58l;
    border-bottom: none;
    
}


.jsenabled .usermenu .moodle-actionmenu>.menu .filler
#backgroundimg {width:100%;}

.block{
 background-color: #fdfdfd;   
}

#Infoblock {
    background-color: #444444;
}

#Infoblock .span9 h2{
    padding:20px;
    font-size: 48px;
    color: #fefefe;
    font-family: sans-serif;
}


#Infoblock .span9 .infocontent{
    margin-bottom: 20px;
    padding:10px;
    color: #fefefe;
    font-size: 20px;
    font-family: serif;

}

body.pagelayout-frontpage #page-header { 
  background-image: url([[setting:headerimg]]);
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #ccc;
  background-size: 100%;
  min-height: 700px;
  padding-top: 60px;
}

 .pagelayout-frontpage .marketingbox {
 background-image: url([[setting:backgroundimg]]);
 background-position: left top;
 background-repeat: no-repeat;
 background-size: 100%;
 height: 750px;
}



.marketingbox .marketing-bg-content{
    padding: 30px;
    text-align: center;
} 


.marketingbox .marketing-bg-content h1{
    font-size: 40px;
    color: #8fcbb6;
    font-weight: 500;
    font-family: sans-serif;
    margin: 10px;
}

.marketingbox .marketing-bg-content p {
    margin: 30px;
    color: #dff8ef;
    font-size: 30px;
    font-family: playball;
    font-weight: initial;
        
}

 .marketingbox .marketing-innerbox .span3 {
    background-color: #4e927a; 
    box-shadow: 0 0 5px #97beb0;
    padding: 4em 2em;
    text-align: center;
    
}

 .marketingbox .marketing-innerbox .span3 h1{
    font-family: sans-serif;
    color: #e2f7f0;
    font-weight: 100;
    padding: 10px;
}

 .marketingbox .marketing-innerbox .span3 p {
    color: #e2f7ef;
    font-family: serif;
    font-size: 22px;
    line-height: normal;
}

 .marketingbox .marketing-innerbox .span3 button {
    padding: 14px 43px;
    background-color: #4E927A;
    background-image: linear-gradient(to bottom, #4E927A, #4E927A);
    border: 1px solid #97beb0;
    border-radius: 50px;
    font-size: 28px;
    text-shadow: none;
    color: #d2f5fd;
    font-weight: 100;
    font-family: sans-serif;
    margin-top: 30px;
}

#page-wrapper{
    background-color: #e8e8e8;
}

#page-content {
    margin-top: 30px;
}

/*
 Custom CSS Settings
*/
-------------------------
[[setting:customcss]]
