@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
    #login-box { background-size: inherit; }
    #login-box #page-login-forgot_password #footer { position: relative; width: inherit; }
    .pagelayout-frontpage #page-header { min-height:0px;}
	
	}
	
@media (max-width: 979px) {
    body { padding-top: 0; }
    .slider-text-wrap { top: 30%; }
}
@media (max-width: 767px) {
    
}
@media (max-width: 640px) {
    .layout-box { width: auto; }
}
@media (max-width: 480px) {
    .loginpanel .forgetpass { font-size: 14px; width: 45%; }
}


@media (min-width: 1200px){
.navbar-inner .span3 .usermenu {background-color: #1F438F;}
}

@media (max-width: 767px) {
    body {padding:0px;}
    body.pagelayout-frontpage .navbar { position: relative;}
    body.pagelayout-frontpage #page-header {padding-top: 0px;}
    body.pagelayout-frontpage #page-header .container-fluid { margin-top: 0px;}
    body.pagelayout-frontpage #page-header h1 {font-size: 26px; padding: 0%;  margin-top: 10%;;}
    body.pagelayout-frontpage #page-header p { font-size: 16px; padding: 10%;}
    body.pagelayout-frontpage #page-header { min-height: auto;}
    .marketingbox .marketing-bg-content p {     font-size: 26px; line-height: 1.1;}
    .marketingbox .marketing-innerbox .span3 { margin-bottom: 20px; }
    .courses .course-box .courseimage img { min-height: 200px;}
   .navbar .btn-navbar {
    float: left; margin-top: 30px; }
    .container-fluid {padding:0px;}
    .searchbox {float: left; margin: 10px;}
    
    div.logo {
       width:100%;
       margin-left: 30%;
       display: block;
    }
    
    #signbuttom ,.notloggedin #signbuttom {
    float: right;
    margin-top: -60px;}
     
    #signbuttom .usermenu {margin-top: 0px;}
    
    .navbar .brand { margin: 10px 10px;}
    #Infoblock .span3 .btn-info { margin: 0% 36%; margin-bottom: 10%;}
    #Infoblock .span9 h2 { font-size: 32px; text-align: center;}
    #Infoblock .span9 .infocontent { font-size: 18px; text-align: center;}
    #footermap .googlemap { margin: 20px 80px;}
    .footer-nav h1, .contact-info h1,.footer-desc h1 { text-align: center;}
    #footer .footer-nav ul li, #footer .footer-desc p, #footer .contact-info p{ text-align: center;}
    #footer .footer-main .span3,#footer .footer-main .span4, #footer .footer-main .span2 { margin-bottom: 20px;}
    
     html { height: 100%; } 
    #page .loginbox {width:80%; padding: 0px; }
    .loginbox .loginform .form-label label {font-size: 17px; float: left; letter-spacing: 2px}
  
    #page-login-index #page-content { margin: 35% auto; }
  
    
    #login-box #footer { position: relative; width: inherit; }
    .loginbox.onecolumn .loginpanel, .loginbox.twocolumns .loginpanel, .loginbox.twocolumns .signuppanel { width: 100%; margin-left: 0; }
    .pagelayout-login .loginbox .loginform .form-input input, .loginbox .loginform .form-input input { width: 16em;}
    .loginbox.twocolumns .loginpanel { margin-bottom: 30px; }
    
    .loginbox.onecolumn .loginpanel { position: relative; margin: 0 auto; }
    .footerlinks-box, .copyright-box { text-align: center; }
    .footerlinks-box { margin-top: 15px; }
    .carousel-inner > .item { max-height:280px; min-height: 280px; }
	#footermap .googlemap {
    width: 50%;
    height: 200px;
	padding-left: 50px;}
}

